name: CI Sonar
on:
  push:
    branches:
      - 'main'
      - 'issue**'
      - 'feat**'

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: SonarQube Scan
        uses: kitabisa/sonarqube-action@v1.1.0
        with:
          host: ${{ secrets.SONARQUBE_HOST }}
          login: ${{ secrets.SONARQUBE_TOKEN }}
          projectKey: 'tjava21_apus'
          projectName: 'apus-ecommerce'
